.inbox-intro {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    font-size: 30px;
}

.user-clouds > a {
    text-decoration: none;
    color: #0F2E44;
    cursor: url(../images/cloud_cursor.png),auto;
}

.user-clouds > a > h3 {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
    margin-top: 5px;
}

.user-clouds > a > h3:hover {
    background-color: #5dbea6;
}


.inbox-page {
    background-color: #84dcc6;
    height: 115vh;
}

.user-clouds > h2 {
    color: #0F2E44;
}

.commented-clouds > h2 {
    color: #0F2E44;
}

.inbox-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.user-clouds {
    padding: 25px;
    width: 50%;
    border: 2px dotted black;
    margin-top: 10px;
    overflow: auto;
    margin-left: 10px;
}

.commented-clouds {
    padding: 25px;
    width: 50%;
    border: 2px dotted black;
    border-left: none;
    margin-top: 10px;
    overflow: auto;
    margin-right: 10px;
}

.commented-list {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.17em;
    margin: 0;
    margin-top: 5px;
}

.commented-list > a {
    text-decoration: none;
    color: #0F2E44;
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAAXNSR0IArs4c6QAAANVJREFUWIXtlkEOAyEIRZXM/VdNL9k7YDdlQggooO2mvGRWA/jnC46tFUVR/BE9mTcO1wsn3wIQUQ0AgGztUMKwBFh8hIUEeYLDQrKCYB3yO1ZirEaN4K4xszC9PRzR1NN1LWdOOBJGU6iOMACYIx2JoThtbenMQMRGz+vxvF94FuExPNeIG03sAFfn6hH6etkLJ8Y/NdpGU25DzmRP2LQjSq1+ZQucECEhv/u3rI8gx2v5Z9bwjrSWx3VMT2DrhTZNXki0dtZkLkNc5E7+1kWsKIoiwxuSHlsj/7bl3QAAAABJRU5ErkJggg==),auto;
}

.commented-list:hover {
    background-color: #5dbea6;
}