.inbox-intro {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    font-size: 30px;
}

.user-clouds > a {
    text-decoration: none;
    color: #0F2E44;
    cursor: pointer;
}

.user-clouds > a > h3 {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
    margin-top: 5px;
}

.user-clouds > a > h3:hover {
    background-color: #5dbea6;
}


.inbox-page {
    background-color: #84dcc6;
    height: 115vh;
}

.user-clouds > h2 {
    color: #0F2E44;
}

.commented-clouds > h2 {
    color: #0F2E44;
}

.inbox-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.user-clouds {
    padding: 25px;
    width: 50%;
    border: 2px dotted black;
    margin-top: 10px;
    overflow: auto;
    margin-left: 10px;
}

.commented-clouds {
    padding: 25px;
    width: 50%;
    border: 2px dotted black;
    border-left: none;
    margin-top: 10px;
    overflow: auto;
    margin-right: 10px;
}