.post-page {
    background-color: #26A7FA;
    height: 100vh;
}

.no-clouds {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    position: relative;
}

.cloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  top: 10%;
}


.floating-cloud {
  display: inline-block;
  padding: 20px;
  position: relative;
  margin: 0;
  animation: move-clouds 30s infinite;
}

@keyframes move-clouds {
from {
      transform: translate(0px);
     }
      to {
      transform: translate(-750px);
        }
}   