.post-page {
    background-color: #26A7FA;
    height: 100vh;
}

.post-page > h2 {
  color: #0F2E44;
}

.no-clouds {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    position: relative;
}



.floating-cloud {
  position: relative;
  animation-name: moving;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;  
}

@keyframes moving {
  0%   { left:0px; top:0px;}
  50%  { left:200px; top:0px;}
  100% { left:0px; top:0px;}
}